

@font-face {
    font-family: "prata";
    src: url("../fonts/Prata/Prata-Regular.ttf") format("truetype");
  }
@font-face {
    font-family: "muli";
    src: url("../fonts/Multi/Muli-Regular.ttf") format("truetype");
        
  }
  

/*##########################################################################*/
/* contener for all page */

.wrapper-about


/*##########################################################################*/
/* Page Title */
.sec-title {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(../img/bg/inner-banner-bg-1-1.jpg);
  }
  
.sec-title__main {
    font-family: "prata";
    color: #fff;
    font-size: 48px;
    text-align: center;
    font-weight:normal; 
  }
  /* No need in about page
  .sec-title__sub {
    font-family: "muli";
    color: #fff;
    font-size: 18px;
    text-align: center;
  } */
  
.sec-title__nav {
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    flex: unset;
    text-align: left;
  }
  
/*##########################################################################*/
/* Section About US */
.sec-aboutus {}
.sec-aboutus__divtitle {}
.sec-aboutus-divtitle__h5 {
  text-align:center;
}
.sec-aboutus__divsubtitle {}
.sec-aboutus-divsubtitle__h3 {
  text-align:center;
}
.sec-aboutus__divresume {}
.sec-aboutus-divresume__h4 {}
.sec-aboutus-divresume__p {}
.sec-aboutus-divresume__p-link {}
.sec-aboutus-divresume-p-link__a {}

.sec-aboutus__divyear {}
.sec-aboutus-divyear__li {}
.sec-aboutus-divyear__resume {}
.sec-aboutus-divyear__readfull {}



.sec-aboutus-divyear__li {
  text-decoration: none;
} 
.sec-aboutus-divyear__li {
  display: block;
  background-color: #f2ebe8;
  color: #302e2f;

  border: none;
  outline: none;
  display: inline-block;
  /* vertical-align: middle; */
  font-size: 16px;
  padding: 12px 52px;
  border-radius: 4px;
  transition: all .4s ease;
}
.sec-aboutus-divyear__li:hover {
  background-color: #d99578;
  color: #fff;
}


/*##########################################################################*/
/* Section Departments */
.sec-dep {}
.sec-dep__divtitle {}
.sec-dep-divtitle__h5 {
  text-align:center;
}
.sec-dep__divsubtitle {}
.sec-dep-divsubtitle__h3 {
  text-align:center;
}
.sec-dep__divlist {}

.sec-dep-divlist__ul {
  -webkit-column-count: 2;  /* Chrome/Opera, Safari */
  -moz-column-count: 2; /* Mozilla Firefox */
  column-count: 2;
  column-width: 50vh;
} 
@media screen and (max-width: 800px) {
  .sec-dep-divlist__ul {column-count: 1; }
}

.sec-dep-divlist__li  {
  text-align: left;
}

.sec-dep__divimg {
  text-align: center;
}
@media screen and (max-width: 800px) {
  .sec-dep__divimg {width: 90%;}
}
.sec-dep-divimg__img  {}
/*##########################################################################*/
/* Section Video */

.sec-video {}
.sec-video__img {}

/*##########################################################################*/
/* Section Behind */

.sec-behind {}
.sec-behind__divtitle {
  text-align:center;
}
.sec-behind-divtitle__h5 {}

.sec-behind__divsubtitle {
  text-align:center;
}
.sec-behind-divsubtitle__h3 {}

.sec-behind__divperso {
  text-align:center;
}
.sec-behind-divpicperso__img {}
.sec-behind-divpicperso__h6 {}
.sec-behind-divpicperso__p {}
.sec-behind-divpicperso__a {}
.sec-behind-divpicperso__hr {
  width:270px;
}
