

.collection__img-one {
    display: grid;
    grid-template-columns: repeat(2, 175px);
    grid-template-rows: 1fr 1fr 1fr 20px;

    
    max-width: 350px;
}


.collection_bg1 {
    background-image: url(../resources/collections-2-1.jpg);
    background-repeat: no-repeat;
    grid-column: 1 / 3;
    grid-row: 1 / span 4;
}

.collection_img-x__title {
    grid-column: 1 ;
    grid-row:  3;
    color: thistle;

}

.collection_img-x__plus {
    
    grid-column: 2 ;
    grid-row: 4 ;
    background-image: url(resources/collections-link-decor-1-1.png);
    height: 25px;
    justify-self: center;


}

.collection__img-content {
    border: slateblue 35px solid;
    border-radius: 50%;
    margin-top: -30px;
    padding: 10px;
    background-color: slateblue;
    /*margin-top: 10px;*/
    max-width: 250px;
    max-height: 250px;

}