
@font-face {
  font-family: "prata";
  src: url("../fonts/Prata/Prata-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "muli";
  src: url("../fonts/Muli/Muli-Regular.ttf") format("truetype");
      
}

/*
.main-contact {
  width: 1200px;
}
*/

/*##########################################################################*/
/* Page Title */
.sec-title {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(../img/bg/inner-banner-bg-1-1.jpg);
}

.sec-title__main {
  font-family: "prata";
  color: #fff;
  font-size: 48px;
  text-align: center;
  font-weight:normal; 
}

.sec-title__sub {
  font-family: "muli";
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.sec-title__nav {
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
  flex: unset;
  text-align: left;
}

/*##########################################################################*/
/* Section Address + Hours */
.sec-contact {}

.sec-contact__img {
  max-width: 570px;
}

@media screen and (max-width: 800px) {
  .sec-contact__img { width: 100vh;  }
}

.sec-contact__addressblock {
  font-family: "muli";
}

.sec-contact-addressblock__title {
  font-family: "prata";
  font-size: 20px;
  color: #302e2f;
}
.sec-contact-addressblock__address {
  font-size: 16px;
  line-height: 24px;
  color: #777777;
}

.sec-contact-addressblock-address__link {
  text-decoration: none !important;
  color: #777777;
}

.sec-contact__openhours {
  font-size: 16px;
  line-height: 24px;
  color: #777777;
}

.sec-contact__hr {
  border: 1px solid #e4e4e4;
  height: 100%;
  }
  
  @media screen and (max-width: 800px) {
    .sec-contact__hr {
    width: 100%;
    height: 1px;
    }
  }


/*##########################################################################*/
/* Section Form */
.sec-form {
  font-family: "prata";
  line-height: 24px;
  color: #777777;
  text-align: left !important;
  color: #302e2f;
  font-size: 14px;
}

.sec-form__form {}

.sec-form__field-fname {}
.sec-form__field-email {}
.sec-form__field-lname {}
.sec-form__field-phone {}
.sec-form__field-subject {}
.sec-form__field-message {}
.sec-form__field-bt {}

.sec-form__bt {
    background-color: #302e2f;
    color: #fff;
    margin-top: 20px;

    border: none;
    outline: none;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    text-transform: uppercase;
    padding: 12px 52px;
    border-radius: 4px;
    transition: all .4s ease;
  }
.sec-form__bt:hover {
    background-color: #d99578;
    color: #fff;
  }


/*##########################################################################*/
/* Section for google map intergation */
.sec-map {}

.sec-map__iframe-gmap {}


/*##########################################################################*/
/* Section Other Venus */
.sec-venues {
  font-weight:normal; 
}

.sec-venues__title {
  font-family: "prata";
  color: #302e2f;
  font-size: 30px;
  margin-bottom: 40px;

}

.sec-venues__block {
  text-align: center !important;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
}

.sec-venues-block__titre {
  font-family: "prata";
  font-size: 20px;
  color: #302E2F;;
}

.sec-venues-block__address {
  font-family: "muli";
}

.sec-venues-block__phone-mail {
  font-family: "muli";
}

.sec-venues-block__hr {
  border: 1px solid #e4e4e4;
height: 100%;
}

@media screen and (max-width: 800px) {
  .sec-venues-block__hr {
  width: 100%;
  border: 1px solid #e4e4e4;
  }
}