/* FLEX section de complet */   
  .wrapper {
    display: flex;  
    flex-flow: row wrap;
    text-align: center;
  }
  

  .sec-title {
    flex: 1 100%;
  }
  .sec-contact {
    flex: 2 50%;
  }
  .sec-form  {
    flex: 3 50%;
    text-align: left;
  }
  .sec-map {
    flex: 4 100%;
  }
  .sec-venues {
    flex: 5 100%;
  }

    
  @media all and (max-width: 800px) {
    .sec-title    { order: 1; }
    .sec-contact { order: 2; } 
    .sec-form    { order: 3; }
    .sec-map { order: 4; }
    .sec-venues   { order: 5; }
  }
  
/*#############################################################*/
/* FLEX in Contact info section */

.sec-contact {
    display: flex;  
    flex-flow: row wrap;
    text-align: left;
    justify-content: space-around;
    align-items: stretch;
  }

.sec-title__breakline {
    flex-basis: 100%;
  }

@media screen and (max-width: 800px) {
    
}


/*#############################################################*/
/* FLEX in Form section */

.sec-form__form {
    display: flex;  
    flex-flow: row wrap;
    text-align: left;
    align-items: stretch;
  }

  .sec-form__field-fname    { flex: 1 50%; }
  .sec-form__field-email    { flex: 1 50%; }
  .sec-form__field-lname    { flex: 1 50%; }
  .sec-form__field-phone    { flex: 1 50%; }
  .sec-form__field-subject  { flex: 2 100%; }
  .sec-form__field-message  { flex: 2 100%; }
  .sec-form__field-bt       { flex: 2 100%; }
  
  
@media screen and (max-width: 800px) {
    .sec-form__field-fname    { flex: 1 100%; order: 1; }
    .sec-form__field-email    { flex: 1 100%; order: 3; }
    .sec-form__field-lname    { flex: 1 100%; order: 2; }
    .sec-form__field-phone    { flex: 1 100%; order: 4; }
    .sec-form__field-subject  { flex: 1 100%; order: 5; }
    .sec-form__field-message  { flex: 1 100%; order: 6; }
    .sec-form__field-bt       { flex: 1 100%; order: 7; }
  }
  

/*#############################################################*/
/* FLEX in Other Venues Section */

.sec-venues {
    display: flex;  
    flex-flow: row wrap;
    text-align: center;
    justify-content: space-around;
    align-items: stretch;
  }

.sec-venues__title {
    flex: 1 100%;
}
.sec-venues__block {
    flex: 1 33%;
}


@media screen and (max-width: 800px) {
    .sec-venues__title  { flex: 1 100%; order: 1; }
    .sec-venues__block { flex: 1 100%; order: 2; } 
  }
  