html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Muli";
  font-size: 16px;
  color: #777777;
  background-color: #302e2f;
}

h2 {
  font-family: "Prata";
  font-size: 48px;
}

/* ----------------------------------Top bar style */

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #302e2f;
  flex-wrap: wrap;
  padding: 20px;
}

.container {
  padding-bottom: 0;
}

.topbar__left,
.topbar__mid,
.topbar__right {
  border-bottom: 1px solid #403e3f;
}

.topbar__left,
.topbar__right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 10px;
}
.container .topbar__left {
  justify-content: flex-start;
}
.container .topbar__mid {
  align-items: center;
  justify-content: center;
}

.container .topbar__right {
  justify-content: flex-end;
  align-items: flex-end;
}

.social,
.search,
.lang,
.tickets {
  display: flex;
  justify-content: flex-end;
}
.clock,
.visit,
.social,
.search,
.lang,
.tickets {
  display: flex;
  flex-direction: row;
}

/* clock */

.clock {
  font-size: 19px;
  color: #d99578;
  margin-right: 10px;
}
.clock:hover {
  color: #fff;
}
.visit:hover {
  color: #fff;
}

.clock + .visit {
  display: flex;
  font-size: 16px;
  line-height: 28px;
  transition: all 1s ease;
  align-items: center;
}

/* visit */

.visit + .direction {
  border-left: 1px solid #403e3f;
  margin-left: 20px;
  padding-left: 20px;
}

.line {
  width: 30px;
  height: 2px;
  background-color: #d99578;
  margin-left: 12px;
  margin-right: 12px;
}

.minute {
  font-size: 11px;
  line-height: 1em;
}
.hour {
  padding-right: 5px;
  line-height: 1em;
}

/* direction*/

.direction i span {
  padding-left: 10px;
  font-size: 16px;
  line-height: 28px;
  color: #a19b9d;
  transition: all 1s ease;
}

.direction i {
  font-size: 19px;
  color: #d99578;
  transition: all 1s ease;
}

.direction i:hover {
  color: #fff;
}
.direction span:hover {
  color: #fff;
}

/* top bar mid */

.topbar__mid {
  width: 20%;
}

/* social */

.social {
  padding-bottom: 10px;
}
.social a {
  color: #a19b9d;
  transition: all 1s ease;
}

.social__logo a {
  padding: 10px;
}

.social a:hover {
  color: #fff;
}

.social + .search-container {
  border-left: 1px solid #403e3f;
  margin-left: 20px;
  padding-left: 20px;
}
/* search */

.search {
  width: 38px;
  height: 38px;
  justify-content: center;
  align-items: center;
  border: 1px solid #403e3f;
  border-radius: 4px;
}
.search i {
  color: #a19b9d;
}
.search--animation i {
  transition: all 1s ease;
}

.search i:hover {
  color: #fff;
}

.search-container + .lang {
  margin-left: 10px;
  padding-left: 10px;
}

/* lang */

.lang__select {
  background-color: transparent;
  color: #a19b9d;
  width: 40px;
  height: 40px;
  font-size: 13px;
  line-height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #403e3f;
  border-radius: 4px;
}

.lang + .tickets-container {
  margin-left: 10px;
  padding-left: 10px;
}

/* tickets */

.tickets {
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #d99578;
  border-radius: 4px;
  height: 40px;
  padding-left: 5px;
  padding-right: 10px;
}
.tickets__button {
  color: #fff;
  font-size: 13px;
}

.tickets:hover {
  background-color: #fff;
}
.tickets__button:hover {
  background-color: #fff;
  color: #302e2f;
}

/* --------------HEADER STYLE---------------- */

.nav {
  display: flex;
  flex-direction: row;
  background: #302e2f;
  justify-content: center;
}

.submenu,
.menu {
  display: flex;
  flex-direction: row;
}

/* submenu */

.submenu a {
  justify-content: flex-start;
}
a.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  border-right: 1px solid #403e3f;
  padding-right: 20px;
}

/* menu */

.menu a {
  padding: 32px;
  color: #a19b9d;
  text-decoration: none;
  transition: all 1s ease;
}

.menu__bar {
  width: 0%;
}

#burger,
label {
  display: none;
}

label {
  font-size: 40px;
  padding-left: 10px;
}
.menu a:hover {
  color: #fff;
}

/*shop*/

.shop {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop a {
  color: #a19b9d;
  transition: all 1s ease;
}

.shop a:hover {
  color: #fff;
}

/*contact*/

.contact {
  display: flex;
  padding-left: 20px;
  margin-left: 20px;
  border-left: 1px solid #403e3f;
  justify-content: center;
  align-items: center;
}
.contactline {
  width: 30px;
  height: 2px;
  background-color: #d99578;
  display: block;
}

.contactline:nth-child(2) {
  width: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

span.contactline:hover {
  color: #fff;
}

/* ----------------------------FOOTER */

div.footer__container {
  background-image: url(./images/footer-bg-1-1.jpg);
  background-size: cover;
}
.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #302e2f;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 25px;
}

/*top footer*/
.topfooter {
  padding-bottom: 25px;
}

/*mid footer*/
.midfooter {
  width: 100%;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
}

.mail__logo {
  width: 70px;
  height: 60px;
  background-color: #d99578;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.mail__logo a {
  color: #fff;
  font-size: 30px;
  height: 35px;
}
i.mail__logo:hover {
  color: #black;
}

div.mail__logo.mail--animation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.midfooter input {
  width: 100%;
  height: 58px;
  background-color: #fff;
  border: none;
  outline: none;
  color: gray;
  font-size: 16px;
  padding-left: 100px;
}

.arrowbox {
  height: 60px;
  width: 25px;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.arrow {
  color: #a19b9d;
  transition: all 1s ease;
}

.arrow:hover {
  color: black;
}

/* Egypt */

.copyright .egypt {
  color: #d99578;
}

/* -----------------------RESPONSIVNESS */

/* TAB */

@media screen and (max-width: 1100px) {
  .menu,
  .topbar__mid {
    display: none;
  }

  .menu__bar {
    width: 20%;
  }

  label {
    display: flex;
  }

  #burger:checked + .menu {
    display: flex;
  }

  .topbar__left,
  .topbar__mid,
  .topbar__right {
    border-bottom: transparent;
  }
  .container {
    border-bottom: 1px solid #403e3f;
  }
}

/* MOBILE */

@media screen and (max-width: 540px) {
  .topbar__mid,
  .topbar__right {
    display: none;
  }

  .visit + .direction {
    border-left: transparent;
    margin-left: 20px;
    padding-left: 20px;
  }

  .menu__bar {
    display: none;
  }
}

/* BANNERS */

.banner {
  margin-top: 10px;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.banner__container {
  width: 100%;
  height: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/images/inner-banner-bg-1-1.jpg);
  padding-bottom: 100px;
}

.banner__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.banner__texte h2 {
  color: #fff;
}
