#overlay {
    position: fixed;
    display: none;
    width: auto;
    height: auto;
    top: 0;
    left: auto;
    right: 0;
    bottom: 0;
    background-color: #302e2f;
    z-index: 2;
    cursor: pointer;
  }
  
  #overlaytext{
    margin-left: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 150px;
    color: #ffffff;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }

/*  <div id="overlay" onclick="off()">
    <div id="overlaytext"><!--Overlay -->
        <iframe width="560" height="315" src="https://www.youtube.com/embed/j6PbonHsqW0?wmode=opaque" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    </div>*/

    

